@font-face {
    font-family: "moirahw";
    src: url("/public/Moirahw02.otf");
}

* {
    font-family: "moirahw", "Century Gothic", sans-serif;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
}

::selection {
    color: rgb(252, 255, 255);
    background: rgb(99, 220, 208);
}

body {
    overflow-x: hidden;
}

:root {
    --text-color: rgb(128, 21, 0);
}

.resize {
    width: 10px;
}









/* MAIN PAGE */
.head {
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("/public/FP_detail.png");
    background-size: 950px;
    background-position: center;
    background-repeat: no-repeat;


}

.FPcharacter_icon {
    width: 340px;
    animation: 1.8s linear infinite move;

}

.FPcharacter_icon:hover {
    filter: brightness(110%);
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.FPcharacter_dial {
    position: absolute;
    width: 340px;

}

.MAINMENU {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 50px;
}



.name-icon {
    width: 180px;
}

.FPmenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20PX;

}

.FPM {
    width: 220px;
    float: left;

}

.FPM:hover {
    filter: hue-rotate(20deg);
    filter: brightness(120%);

}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.other-icons:hover {
    filter: hue-rotate(20deg);
    filter: brightness(120%);
}

.other-icons {
    height: 40px;
    float: left;
}


.phone_logo {
    width: 0;
    opacity: 0;
}











/* NAVBAR */

.WHOLENAVBAR_phone {
    width: 0;
    height: 0;
    opacity: 0;
}

.WHOLENAVBAR {
    width: 204px !important;
    height: auto;
    margin: 40px 100px 40px 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;


}

.nv_logo {
    width: 130px;
    margin-bottom: 20px;

}

#navbar {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.nav-link:has(.nvmenu) {
    display: flex;
    justify-content: center;
}

.nav-link:has(.sub-nvmenu) {
    display: flex;
    justify-content: start;
}

.nvmenu {
    float: left;
    width: 170px;
}

.nvmenu:hover {
    filter: hue-rotate(20deg);
    filter: brightness(160%);
}

.sub-nvmenu:hover {
    filter: hue-rotate(20deg);
    filter: brightness(160%);
}

.hover-keep {
    filter: hue-rotate(20deg);
    filter: brightness(160%);
}


.NVsocial-icons {
    display: grid;
    margin: auto;
}

.nv-social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nvother-icons {
    float: left;
    height: 25px;
}


.sub-nvmenu {
    text-align: left;
    margin-left: 70px;
    margin-top: 10px;
    color: #ff8354;
}















/* CONTACT ME */


.theother {
    border-radius: 8px;
    padding: 300px 0;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin: 80px auto 50px auto;
}

.you_can {
    font-size: 18px;
    color: rgb(255, 166, 0);
}

.my_email {
    font-size: 30px;
    margin: 15px 0 0 45px;
    color: var(--text-color);
    font-weight: lighter;
}

.copydiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copybutton {
    border: none;
    background-color: transparent;
}

#copyicon {
    width: 25px;
    margin: 20px 0 0 10px;

}

#copyicon:hover {
    filter: brightness(150%);
}









/* PAGES */
#project {
    text-align: center;
    justify-content: center;
    margin-left: 300px;
}



/* IMGS PAGS */

.imgsC {
    /* Prevent vertical gaps */

    -webkit-column-count: 1;
    -webkit-gap: 10px;
    -moz-column-count: 1;
    -moz-gap: 10px;
    column-count: 1;
    gap: 10px;
    max-width: 1000px;
    padding-top: 30px;
    margin: auto;


}

.imgsC .imgC {
    border-radius: 0px;

    /* Just in case there are inline attributes */
    width: 80% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.anim_title {
    width: 250px;
    filter: hue-rotate(160deg);
    margin: auto;
}






/* 3D */

.blendervideo2 {
    /* this is for the other pages this videos appear on */
    width: 50%;
}


.sargo {
    margin-top: 40px;
    width: 550px;
}

.birds {
    width: 450px;
}

.blendervideo {
    margin: 10px;
    border: #538378;
    border-style: solid;
    border-width: 1px;
}

.model_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}














/* REEL */
.reel {
    width: 100%;
    max-width: 900px;
    background-color: #b1ff75;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    display: flex;
}

.reel-link {
    padding-top: 100px;
}


















/* PROJECTS */

.project_game {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
}

.project_group01 {
    margin: auto;
    padding: 100px;
}

.project_group02 {
    margin: auto;
    padding: 100px;
}

.YT {
    width: 75%;
    opacity: 100;
    margin-bottom: 200px;
}


.YTphone {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.project_group02 {
    padding-top: 300px;
    padding-bottom: 300px;
}




.project_gurru {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: auto;
}

.gurruposter {
    width: 400px;
    margin-left: 80px;

}

.gurruloma {
    width: 250px;
    padding-top: 20px;
}

.project_title {
    font-size: 30px;
    color: #009b96;

}










/* OTHER ARTISTS  */
.artist-icon {
    width: 120px;
    text-align: center;
    border-radius: 80px;
}

.artist_name {
    width: 130px;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    color: var(--text-color);
    margin-top: 5px;
    font-weight: lighter;
}

.artist-type {
    width: 130px;
    font-size: 25x;
    text-align: center;
    color: #ff9b37;
    margin-top: 10px;
    font-style: italic;
    font-weight: lighter;
}

.artist_group {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    transition: 0.15s ease-in-out;
}

.artist_group:hover {
    background-color: #f5f6e8;
}

.people {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 800px;
    padding-top: 100px;
    margin: auto;
    margin-bottom: 150px;
}

.one-line {
    margin: 18px auto;
}





















/* CV AND ABOUT ME */

.CVABOUT {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.cv_pc {
    max-width: 700px;
    width: 80% !important;
    height: auto !important;
    padding-bottom: 30px;
    margin: auto;

}


.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 100px;
    color: var(--text-color);


}


.bio {
    color: var(--text-color);
    font-weight: lighter;
    text-align: justify;
    text-justify: inter-word;
}


#profile-link2 {
    color: var(--text-color);

}


#copyicon {
    filter: brightness(90%);
}









/* FOOTER */
.footer {
    color: #e9be22;
    font-size: 13px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    font-weight: lighter;
    margin-left: 300px;
}

.home-footer {
    margin: auto;
}

#profile-link {
    color: #e89f00;
    font-size: 13px;
}































/* DUCK 4 */
.duck4 {
    background-color: transparent;
    width: 80px;
    height: 100px;
    margin: auto;
    /* position: absolute; */
    left: 930px;
    top: 350px;
    overflow: hidden;
    animation: 3s ease-in-out infinite dance2;
    z-index: 5;

}

.duck-body4 {
    position: relative;
    z-index: 6;
    animation: 1s linear infinite dance;
}

@keyframes dance2 {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(15px);
    }

    54% {
        transform: translateY(0px);
    }

    58% {
        transform: translateY(15px);
    }

    63% {
        transform: translateY(15px);
    }

    67% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes dance {
    5% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(2px);
    }

    55% {
        transform: translateY(0px);
    }
}

.duck-head4 {
    background-color: var(--headcolor);
    position: relative;
    width: 40px;
    height: 33px;
    left: 12px;
    top: 7px;
    border-radius: 19px;
    z-index: 4;
}

.eye4 {
    position: absolute;
    background-color: var(--eyecolor);
    width: 5.5px;
    height: 5.5px;
    border-radius: 5px;
    left: 20px;
    top: 12px;
    z-index: 5;
}

.beak4 {
    position: absolute;
    background-color: var(--beackcolor);
    width: 23px;
    height: 13px;
    border-radius: 15px;
    top: 12px;
    left: -7.5px;
    z-index: 5;
}

.neck4 {
    position: absolute;
    background-color: var(--neckcolor);
    width: 20px;
    height: 20px;
    top: 25px;
    left: 22px;
    z-index: 3;
}

.body4 {
    position: relative;
    background-color: var(--bodycolor);
    width: 60px;
    height: 43px;
    border-radius: 27px;
    top: 8px;
    left: 10px;
    z-index: 4;
}


.chest4 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 40px;
    height: 43px;
    border-radius: 27px 26px 26px 27px;
    z-index: 4;
}

.tail4 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 15px;
    height: 20px;
    left: 60px;
    top: 50px;
    border-radius: 0 15px 30px 0;
    transform: rotate(-20deg);
    z-index: 3;
}

.left-leg4 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 9px;
    height: 25px;
    left: 32px;
    top: 65px;
    z-index: 3;
}

.left-foot4 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 20px;
    height: 8px;
    left: -10px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.right-leg4 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 9px;
    height: 25px;
    left: 43px;
    top: 65px;
    z-index: 3;
}

.right-foot4 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 18px;
    height: 8px;
    left: -6px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.honk4 {
    position: relative;
    top: -140px;
    right: 80px;
    font-size: 14px;
    font-weight: lighter;
    color: transparent;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 10px;
    border-color: transparent;
    border-width: 1px;
    background-color: transparent;
    border-style: solid;
    transition: 0.5s ease-in-out;
    z-index: 10;
    animation: 3s ease-in-out infinite dance2;
}

.duck4:hover~.honk4 {
    color: #00989b;
    border-color: #00989b;
    background-color: white;
}




/* DUCK */
.duckref {
    opacity: 50%;
    position: absolute;
    top: 493px;
    left: 578px;
    z-index: -1;
}

.duck {
    background-color: transparent;
    width: 80px;
    height: 100px;
    margin: auto auto 100px auto;
    position: relative;
}

.duck-body {
    position: relative;
    z-index: 6;
    animation: 1s linear infinite dance;
}

@keyframes dance {
    5% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(2px);
    }

    55% {
        transform: translateY(0px);
    }
}

.duck-head {
    background-color: var(--headcolor);
    position: relative;
    width: 40px;
    height: 33px;
    left: 12px;
    top: 7px;
    border-radius: 19px;
    z-index: 4;
}

.eye {
    position: absolute;
    background-color: var(--eyecolor);
    width: 5.5px;
    height: 5.5px;
    border-radius: 5px;
    left: 20px;
    top: 12px;
    z-index: 5;
}

.beak {
    position: absolute;
    background-color: var(--beackcolor);
    width: 23px;
    height: 13px;
    border-radius: 15px;
    top: 12px;
    left: -7.5px;
    z-index: 5;
}

.neck {
    position: absolute;
    background-color: var(--neckcolor);
    width: 20px;
    height: 20px;
    top: 25px;
    left: 22px;
    z-index: 3;
}

.body {
    position: relative;
    background-color: var(--bodycolor);
    width: 60px;
    height: 43px;
    border-radius: 27px;
    top: 8px;
    left: 10px;
    z-index: 4;
}


.chest {
    position: absolute;
    background-color: var(--chestcolor);
    width: 40px;
    height: 43px;
    border-radius: 27px 26px 26px 27px;
    z-index: 4;
}

.tail {
    position: absolute;
    background-color: var(--chestcolor);
    width: 15px;
    height: 20px;
    left: 60px;
    top: 50px;
    border-radius: 0 15px 30px 0;
    transform: rotate(-20deg);
    z-index: 3;
}

.left-leg {
    position: absolute;
    background-color: var(--footBcolor);
    width: 9px;
    height: 25px;
    left: 32px;
    top: 65px;
    z-index: 3;
}

.left-foot {
    position: absolute;
    background-color: var(--footBcolor);
    width: 20px;
    height: 8px;
    left: -10px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.right-leg {
    position: absolute;
    background-color: var(--footFcolor);
    width: 9px;
    height: 25px;
    left: 43px;
    top: 65px;
    z-index: 3;
}

.right-foot {
    position: absolute;
    background-color: var(--footFcolor);
    width: 18px;
    height: 8px;
    left: -6px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.honk {
    position: absolute;
    left: 605px;
    top: 495px;
    font-size: 14px;
    font-weight: lighter;
    color: transparent;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 10px;
    border-color: transparent;
    border-width: 1px;
    background-color: transparent;
    border-style: solid;
    transition: 0.5s ease-in-out;
}

.duck:hover~.honk {
    color: #00989b;
    border-color: #00989b;
    background-color: white;


}




/* DUCK 2 */
.duckcontainer2 {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.duck2 {
    background-color: transparent;
    width: 80px;
    height: 100px;
    margin: auto auto 100px auto;
    position: relative;
    left: 350px;
    animation: 8s linear infinite walkie;
}

.duck-body2 {
    position: relative;
    z-index: 6;
}

@keyframes stepyL {
    5% {
        transform: translateY(-11px);
    }

    50% {
        transform: translateY(-11px);
    }

    55% {
        transform: translateY(0px);
    }

    0% {
        transform: translateY(0px);
    }
}

@keyframes stepyR {
    50% {
        transform: translateY(-11px);
    }

    100% {
        transform: translateY(-11px);
    }

    5% {
        transform: translateY(0px);
    }

    45% {
        transform: translateY(0px);
    }
}

@keyframes walkie {
    0.1% {
        transform: translateX(0px) scaleX(1);
        scaleX: 1;
    }

    50% {
        transform: translateX(-700px) scaleX(1);
        scaleX: 1;
    }

    50.1% {
        transform: translateX(-700px) scaleX(-1);
        scaleX: -1;
    }

    100% {
        transform: translateX(0px) scaleX(-1);
        scaleX: -1;
    }
}

@keyframes headmove {
    50% {
        transform: translateX(-1.5px);
    }

    100% {
        transform: translateX(-1.5px);
    }

    5% {
        transform: translateX(0px);
    }

    45% {
        transform: translateX(0px);
    }
}

.duck-head2 {
    background-color: var(--headcolor);
    position: relative;
    width: 40px;
    height: 33px;
    left: 12px;
    top: 9px;
    border-radius: 19px;
    z-index: 4;
    animation: 0.3s linear infinite headmove;
}

.eye2 {
    position: absolute;
    background-color: var(--eyecolor);
    width: 5.5px;
    height: 5.5px;
    border-radius: 5px;
    left: 20px;
    top: 12px;
    z-index: 5;
}

.beak2 {
    position: absolute;
    background-color: var(--beackcolor);
    width: 23px;
    height: 13px;
    border-radius: 15px;
    top: 12px;
    left: -7.5px;
    z-index: 5;
}

.neck2 {
    position: absolute;
    background-color: var(--neckcolor);
    width: 20px;
    height: 20px;
    top: 25px;
    left: 22px;
    z-index: 3;
}

.body2 {
    position: relative;
    background-color: var(--bodycolor);
    width: 60px;
    height: 43px;
    border-radius: 27px;
    top: 10px;
    left: 10px;
    z-index: 4;
}


.chest2 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 40px;
    height: 43px;
    border-radius: 27px 26px 26px 27px;
    z-index: 4;
}

.tail2 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 15px;
    height: 20px;
    left: 60px;
    top: 50px;
    border-radius: 0 15px 30px 0;
    transform: rotate(-20deg);
    z-index: 3;
}

.left-leg2 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 9px;
    height: 25px;
    left: 32px;
    top: 65px;
    z-index: 3;
    animation: 0.3s linear infinite stepyL;
}

.left-foot2 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 20px;
    height: 8px;
    left: -10px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.right-leg2 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 9px;
    height: 25px;
    left: 43px;
    top: 65px;
    z-index: 3;
    animation: 0.3s linear infinite stepyR;
}

.right-foot2 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 18px;
    height: 8px;
    left: -8px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}




/* DUCK 3*/

.duck3 {
    background-color: transparent;
    width: 80px;
    height: 100px;
    margin: -50px auto -57px 1000px;
    position: relative;

}

.duck-body3 {
    position: relative;
    z-index: 6;
    top: 6px
}

@keyframes breath {
    15% {
        transform: translateY(1.5px);
    }

    50% {
        transform: translateY(1.5px);
    }

    65% {
        transform: translateY(0px);
    }
}

.duck-head3 {
    background-color: var(--headcolor);
    position: relative;
    width: 40px;
    height: 33px;
    left: 10px;
    top: 22px;
    border-radius: 19px;
    z-index: 7;
    animation: 5s linear infinite breath;
}

.eye3 {
    position: absolute;
    background-color: var(--eyecolor);
    width: 5.5px;
    height: 2.2px;
    border-radius: 5px;
    left: 15px;
    top: 16px;
    z-index: 5;
}

/* .eyelid3 {
    position: absolute;
    background-color: #00989b;
    width: 5.5px;
    height: 5.5px;
    border-radius: 5px;
    left: 20px;
    top: 13.5   px;
    z-index: 5;
} */

.beak3 {
    position: absolute;
    background-color: var(--beackcolor);
    width: 23px;
    height: 13px;
    border-radius: 15px;
    top: 15px;
    left: 25px;
    z-index: 5;
}

.neck3 {
    position: absolute;
    background-color: var(--headcolor);
    width: 20px;
    height: 20px;
    top: 25px;
    left: 22px;
    z-index: 3;
}

.body3 {
    position: relative;
    background-color: var(--bodycolor);
    width: 60px;
    height: 43px;
    border-radius: 27px;
    top: 8px;
    left: 10px;
    z-index: 4;
    animation: 5s linear infinite breath;
}

.chest3 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 40px;
    height: 43px;
    border-radius: 27px 26px 26px 27px;
    z-index: 4;
}

.tail3 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 15px;
    height: 20px;
    left: 60px;
    top: 50px;
    border-radius: 0 15px 30px 0;
    transform: rotate(-20deg);
    z-index: 3;
    animation: 5s linear infinite breath;
}

.left-leg3 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 9px;
    height: 25px;
    left: 32px;
    top: 65px;
    z-index: 3;
}

.left-foot3 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 20px;
    height: 8px;
    left: -10px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.right-leg3 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 9px;
    height: 25px;
    left: 43px;
    top: 65px;
    z-index: 3;
}

.right-foot3 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 18px;
    height: 8px;
    left: -6px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.zzz {
    position: absolute;
    left: 940px;
    top: 130px;
    font-size: 14px;
    font-weight: lighter;
    color: transparent;
    border-radius: 5px 5px 0px 5px;
    padding: 6px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: 0.5s ease-in-out;
}

.duck3:hover~.zzz {
    color: #8876bf;
    border-color: #8876bf;
}






























/* PHONE MEDIA */

@media only screen and (max-width: 800px) {


    /* HEAD */

    * {
        font-size: 10px;
    }

    .head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        position: relative;
        background: none;
        overflow: -moz-hidden-unscrollable;
        margin: 50px 10px;
    }

    .FPcharacter_icon {
        width: 150px;
        padding-left: 30px;
    }

    .FPcharacter_dial {
        width: 150px;
        padding-left: 30px;

    }

    .MAINMENU {
        margin: auto;
    }

    .name-icon {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .phone_logo {
        width: 200px;
        opacity: 100%;
        position: relative;
        margin: auto;
        margin-bottom: -10px;


    }

    .FPM {
        width: 120px;
    }

    .other-icons {
        width: auto;
        height: 30px;
    }



    /* NAVBAR */

    .WHOLENAVBAR {
        width: 0;
        height: 0;
        opacity: 0;
    }


    .WHOLENAVBAR_phone {
        width: auto;
        height: auto;
        opacity: 100%;
        padding: 20px;

        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .logo-icon {
        padding: 10px;
    }

    .nv_logo {
        width: 50px;
    }

    .nvmenu {
        width: 100px;

    }


    #navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-height: 220px;
        margin-top: 10px;
    }

    .sub-nvmenu {
        text-align: left;
        margin-left: 0px;
        margin-top: 10px;
        color: #ff8354;
    }

    .nvsocial {
        margin-top: 15px;
    }

    .hover-keep {
        filter: opacity(50%);
        filter: hue-rotate(40%);
    }



    /* ABOUT ME */
    .CVABOUT {
        flex-direction: column;
    }

    .cv_pc {
        width: 90%;
        margin: auto;
    }

    .aboutme {
        border-color: transparent;
    }

    .honk {
        color: transparent;
    }


    /* CONTACT ME */
    .theother {
        background-color: transparent;
        max-width: 300px;
    }

    .my_email {
        font-size: 25px;
        margin-left: 0;
    }



    /* PROJECTS */
    #project {
        margin: auto;
    }

    .imgs {
        -webkit-column-count: 1;
        -webkit-gap: 10px;
        -moz-column-count: 1;
        -moz-gap: 10px;
        column-count: 1;
        gap: 10px;
        max-width: 1000px;
        margin: 50px auto auto auto;
    }

    .imgsC {
        padding-top: 0;
    }


    .project_group01 {
        margin: auto;
        padding: 30px;
        padding-top: 0;

    }

    .project_group02 {
        padding-top: 20px;
        padding-bottom: 150px;

    }

    .project_group03 {
        margin: 20px 10%;
        text-align: center;
    }

    .project_group04 {
        text-align: justify;
    }

    .YT {

        opacity: 0;
        width: 0px;
        height: 0px;
    }

    .YTphone {

        opacity: 100;
        width: 80%;
        height: 80%;
    }

    .YT_PREVIEW {
        margin: -30px;
    }

    .project_title {
        font-size: 13px;
    }

    .reel-link {
        padding-top: 0px;
    }


    .project_gurru {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .gurruposter {
        width: 80%;
        margin: auto;
    }

    .gurruloma {
        width: 90px;
        margin-bottom: 30px;
    }



    .people {
        padding: 0;

    }


    .aboutme {
        padding: 20px;
    }

    .theother {
        padding: 20px;
        margin: 0;
    }

    .my_email {
        font-size: 18px;
    }

    .you_can {
        font-size: 12px;
    }

    /* 3D */

    .blendervideo {
        width: 200PX;
    }

    .model_group {
        max-width: 350px;
    }



    /* FOOTER */

    .footer {
        position: relative;
        font-size: 10px;
        margin: 10px;
    }

    #profile-link {
        font-size: 10px;
    }
}