@font-face {
    font-family: "Century Gothic";
    src: url("/public/GOTHIC.TTF");
}

@font-face {
    font-family: "Century Gothic";
    src: url("/public/GOTHICB0.TTF");
    font-weight: bold;
}

* {
    font-family: "Century Gothic", sans-serif;
    margin: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

:root {
    --headcolor: #00ee1c;
    --bodycolor: #ff0073;
    --chestcolor: #df004e;
    --beackcolor: #FF6A00;
    --footBcolor: #FF5000;
    --footFcolor: #FF9400;
    --eyecolor: black;
    --neckcolor: rgb(253, 195, 88);
}

.resize {
    width: 10px;
}



/* HAMBURGUER */

#hamburger {
    margin-top: 12px;
    width: 38px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 50%;
    background: #ffb700;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#hamburger.open span {
    background: #ffb700;
}

#hamburger span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#hamburger span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#hamburger span:nth-child(1),
#hamburger span:nth-child(2) {
    top: 0px;
}

#hamburger span:nth-child(3),
#hamburger span:nth-child(4) {
    top: 10px;
}

#hamburger span:nth-child(5),
#hamburger span:nth-child(6) {
    top: 20px;
}

#hamburger.open span:nth-child(1),
#hamburger.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(1) {
    left: 3px;
    top: 7px;
}

#hamburger.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#hamburger.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#hamburger.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#hamburger.open span:nth-child(5) {
    left: 3px;
    top: 20px;
}

#hamburger.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 20px;
}


/* NAVBAR */
.hidden {
    visibility: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.dropdown {
    position: relative;
}

.space-y-x> :not([hidden])~ :not([hidden]) {
    margin-top: 1.5px;
}

#navbar {
    position: absolute;
    transform: translateX(calc(-50% + 20px));
    top: 60px;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    background-color: #91d1c7;
    border-radius: 15px;
    transition: visibility 0s, opacity 0.5s ease-in-out;
    z-index: 1001;

}

#navbar> :last-child {
    border-radius: 0 0 8px 8px;
}

#navbar> :first-child {
    border-radius: 8px 8px 0 0;
}

.nav-link {
    position: relative;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #6abcae;
    padding: 10px 0;
    width: 165px;
    margin: auto;
    float: left;
    font-size: 14px;
    letter-spacing: 1px;

}

.nav-link:hover {
    background-color: #87d2c5;
}

#hamburger:hover>span {
    background-color: #ffca2b;
}

.button:hover {
    background-color: #afe6dd;
}

/* HEAD */
.head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
    margin: 10px auto 20px auto;

}



.logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-icon {
    width: 120px;
}

.name-icon {
    width: 300px;
    margin-top: 20px;
}



.social-icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.other-icons {
    width: 35px;
    background-color: #a5e0d0;
    border-radius: 8px;
    transition: 0.15s ease-in-out;
}

.other-icons:hover {
    background-color: #c7f2eb;
}



.etsy-icon {
    width: 60px;
    margin-top: 22px;
    margin-bottom: -10px;
    border-radius: 40px;
    transition: 0.15s ease-in-out;
}



.etsy-text {
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #dca500;
    transition: 0.15s ease-in-out;
}

.etsy:hover > .etsy-text {
    color: #ffd147;
}


.button {
    background-color: #8bcfbd;
    text-decoration: none;
    margin-top: 13px;
    border: 0;
    width: 150px;
    height: 35px;
    border-radius: 30px;
    color: white;
    /* margin-right: 15px; */
    transition: 0.15s ease-in-out;
    letter-spacing: 1px;
}








/* MAIN PAGE */

/* ENLARGE */

.invisible-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.25s ease-in-out; 
    backdrop-filter: blur(2px);
}

.invisible-box .img {
    height: 100%;
    box-shadow: 0px 10px 25px -5px  #8876bf, 0px 8px 10px -6px transparent  ;
}

/* .invisible-box .imgC {
    height: 570px;
    box-shadow: 0px 10px 25px -5px  #8876bf, 0px 8px 10px -6px transparent  ;
} */

.parent {
    position: relative;
}




/* CONTACT*/
/* .contact-me-box {
    width: 100%;
    max-width: 1000px;
    background-color: #b1ff75;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    display: flex;
} */

/* #submit {
    background-color: #fd535c;
    text-decoration: none;
    border: 0;
    width: 130px;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    transition: 0.15s ease-in-out;
    margin-top: 20px;   
}

.box {
    background-color: #c0b8ff;
    text-decoration: none;
    border: 0;
    width: 350px;
    height: 35px;
    border-radius: 8px;
    margin-top: 30px;
    padding: 10px;
}

.box::placeholder {
    color: white;
}

.message {
    background-color: #c0b8ff;
    text-decoration: none;
    border: 0;
    width: 730px;
    height: 100px;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    resize: none;
}

.or {
    font-size: 15px;
    color: #c0b8ff;
    margin: 30px auto 30px auto;
} */


.theother {
    background-color: #93d9d7;
    border-radius: 8px;
    padding: 60px 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    margin: 80px auto 50px auto;
}

.you_can {
    font-size: 18px;
    color: white;
}

.my_email {
    font-size: 30px;
    margin: 15px 0 0 45px;
    color:rgb(45, 157, 131);
    font-weight: lighter;
}
.copydiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copybutton {
    border: none; 
    background-color: transparent;
}

#copyicon {
    width: 25px;
    margin: 20px 0 0 10px;
    opacity: 60%;
    filter: invert(1) sepia(0) hue-rotate(0deg) saturate(0%) contrast(100);  
}

#copyicon:hover {
    opacity: 100%;
}





/* PAGES */
#projects {
    text-align: center;
}

.PROJECT {
    color: teal;
    font-size: 30px;
    margin-top: 30px;
    margin: auto;
}


/* REEL */
.reel {
    width: 100%;
    max-width: 1000px;
    background-color: #b1ff75;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    display: flex;
}




/* CONCEPT AND BG */
.concept-bg-button {
    background-color: #08bc9b;
    text-decoration: none;
    border: 0;
    width: 200px;
    height: 35px;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    margin: auto 5px;
    transition: 0.15s ease-in-out;
}

.hover-keep {
    background-color: #90e1cd;
}

.concept-bg-button:hover {
    background-color: #90e1de ;
}








/* OLD CV */
.phonesubstitute {
    display: hidden;
    height: 0;
    width: 0;
}

h2 {
    font-size: 22px;
    color: #ffa217;
}

p {
   font-size: 16px;
   color: #1e8675;
}

.CVBOXES     {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.LOGROS {
    width: 670px;
    height: fit-content;
    margin: 20px 10px;
    padding: 30px 50px 30px 50px;
    border: #00989b;
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
}

.cvbigtitle {
    margin-bottom: 40px;
}

.Education {
    margin: 80px auto 30px auto;
}

.cvtitle {
    display: flex;
    margin: 15px  auto ;
}

.cvdate {
    font-size: 14px;
    width: 130px;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #08bcb6;
    color: white;
}

.cvname {
    padding: 10px;
    margin-left: 20px;
    margin-top: -12px;
    font-weight: bold;
}

.cvdescription {
    font-size: 14px;
    color: #08bcb6;
    margin-left: 180px;
    text-align: left;
    margin-top: -30px;
    margin-bottom: 40px;

}

.QUALITIES {
    margin: 5px 15px;
}

.cvqualitie {
    width: 200px;
    height: 180px;
    padding: 20px 10px;
    margin: 15px 0;
    border-radius: 8px;
    background-color: #ddff75;
}

.cvqualitie2 {
    width: 200px;
    height: 165px;
    padding: 20px 10px;
    margin: 15px 0;
    border-radius: 8px;
    background-color: #b1ff75;
}

.cvqualitie3 {
    width: 200px;
    height: 190px;
    padding: 20px 10px;
    margin: 15px 0;
    border-radius: 8px;
    background-color: #75ffd3;
}

.cvqualitie4 {
    width: 200px;
    height: 128px;
    padding: 20px 10px;
    margin: 15px 0;
    border-radius: 8px;
    background-color: #4bfcfc;
}

.cvbigtitle2 {
    font-size: 16px;
    color: rgb(16, 109, 0);
    margin: 0 10px 15px 0;
    text-align: right;
}

.cvcualitiename {
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
}

.bar {
    position: relative;
    width: 180px;
    height: 19px;
    border-radius: 10px;
    background-color: white;
    margin: 3px auto 10px auto;
}

.barinside1 {
    position: relative;
    width: 170px;
    height: 11px;
    border-radius: 10px;
    background-color: #ff1a35;
    margin: auto;
    top: 3.5px;
}

.barinside2 {
    position: relative;
    width: 155px;
    height: 11px;
    border-radius: 10px;
    background-color: #ff1a35;
    top: 3.5px;
    left: 4px;
}

.barinside3 {
    position: relative;
    width: 85px;
    height: 11px;
    border-radius: 10px;
    background-color: #ff1a35;
    top: 3.5px;
    left: 4px;
}

.cvanalogic {
    display: flex;
}

.skills {
    margin: auto;
}

.cvcualitiename2 {
    font-size: 13px;
    text-align: center;
}

.cvicon {
    width: 80px;
}

.cvicon:hover {
    width: 85px;
    transition: 0.10s ease-in-out;
}



.socialskill {
    font-size: 14px;
    text-align: left;
    margin-top: 8px;
    margin-left: 12px;
}

.cv-img03 {
    border-style: solid;
    border-color: #1e4bff;
    border-width: 1px;
    border-radius: 8px;
    margin: 45px 0px 0 0px;
    width: auto;
    height: 835px;
}

.SOFTWARESKILLS {
    padding: 30px;
    border-color: #00ac95;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    margin: 20px 15px 50px 15px;     
}

.softwareparent {
    display: flex;
    justify-content: right;
}


.cv-img04 {
    height: 686px;
    width: auto;
    margin: 15px 0px 0px 10px;
}

.cvsoftware {
    color: #00ac95;
    text-align: right;
    margin-top: 32.8px;
}

.cvbigtitle3 {
    text-align: right;
    margin-right: 10px;
}

.cvhobbieicon {
    width: 100px;
    margin: -10px;
}

.cvhobbieicon:hover {
    width: 105px;
    transition: 0.10s ease-in-out;
}




/* DUCK 4 */
.duck4 {
   background-color: transparent; 
   width: 80px;
   height: 100px;
   margin: auto;
   /* position: absolute; */
   left: 930px;
   top: 350px;
   overflow: hidden;
   animation: 3s ease-in-out infinite dance2;
   z-index: 5;

}

.duck-body4 {
    position: relative;
    z-index: 6;
    animation: 1s linear infinite dance;
}

@keyframes dance2 {
    0% {
      transform: translateY(15px);
    }
    50% {
      transform: translateY(15px);
    }
    54% {
      transform: translateY(0px);
    }
    58% {
        transform: translateY(15px);
      }
    63% {
        transform: translateY(15px);
      } 
    67% {
        transform: translateY(0px);
      } 
    70% {
        transform: translateY(15px);
      }

    100% {
        transform: translateY(15px);
    }
  }

  @keyframes dance {
    5% {
      transform: translateY(2px);
    }
    50% {
      transform: translateY(2px);
    }
    55% {
      transform: translateY(0px);
    }
  }

.duck-head4 {
    background-color: var(--headcolor);
    position: relative;
    width: 40px;
    height: 33px;
    left: 12px;
    top: 7px;
    border-radius: 19px;
    z-index: 4;  
}

.eye4 {
    position: absolute;
    background-color: var(--eyecolor);
    width: 5.5px;
    height: 5.5px;
    border-radius: 5px;
    left: 20px;
    top: 12px;
    z-index: 5;
}

.beak4 {
    position: absolute;
    background-color: var(--beackcolor);
    width: 23px;
    height: 13px;
    border-radius: 15px;
    top: 12px;
    left: -7.5px;  
    z-index: 5;  
}

.neck4 {
    position: absolute;
    background-color: var(--neckcolor);
    width: 20px;
    height: 20px;
    top: 25px;
    left: 22px;
    z-index: 3;
}

.body4 {
    position: relative;
    background-color: var(--bodycolor);
    width: 60px;
    height: 43px;
    border-radius: 27px;
    top: 8px;
    left: 10px;
    z-index: 4;
}


.chest4 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 40px;
    height: 43px;
    border-radius: 27px 26px 26px  27px ;
    z-index: 4;
}

.tail4 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 15px;
    height: 20px;
    left: 60px;
    top: 50px;
    border-radius: 0 15px 30px 0;
    transform: rotate(-20deg);
    z-index: 3;
}

.left-leg4 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 9px;
    height: 25px;
    left: 32px;
    top: 65px;
    z-index: 3;
}

.left-foot4 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 20px;
    height: 8px;
    left: -10px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.right-leg4 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 9px;
    height: 25px;
    left: 43px;
    top: 65px;
    z-index: 3;
}

.right-foot4 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 18px;
    height: 8px;
    left: -6px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.honk4 {
    position: relative;
    top: -140px;
    right: 80px;
    font-size: 14px;
    font-weight: lighter;
    color: transparent;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 10px;
    border-color: transparent;
    border-width: 1px;
    background-color: transparent;
    border-style: solid;
    transition: 0.5s ease-in-out;
    z-index: 10;
    animation: 3s ease-in-out infinite dance2;
}

.duck4:hover ~ .honk4 {
    color: #00989b;
    border-color: #00989b;
    background-color: white;
}






/* CV AND ABOUT ME */

.CVABOUT {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.cv_pc {
    width: 700px;
    margin-bottom: 30px;

}


.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0 40px 0;


}
 
.profilepic {
    width: 200px;
    border-radius: 15px;
    margin: 10px;
}

.bio {
    font-size: 14px;
    color: #5d5d5d;
    font-weight: lighter;
    width: 700px;
    margin: 12px;
    text-align: justify;
    text-justify: inter-word;
}



/* DUCK */
.duckref {
    opacity: 50%;
    position: absolute;
    top: 493px;
    left: 578px;
    z-index: -1;
}

.duck {
   background-color: transparent; 
   width: 80px;
   height: 100px;
   margin: auto auto 100px auto;
   position: relative;
}

.duck-body {
    position: relative;
    z-index: 6;
    animation: 1s linear infinite dance;
}

@keyframes dance {
    5% {
      transform: translateY(2px);
    }
    50% {
      transform: translateY(2px);
    }
    55% {
      transform: translateY(0px);
    }
  }

.duck-head {
    background-color: var(--headcolor);
    position: relative;
    width: 40px;
    height: 33px;
    left: 12px;
    top: 7px;
    border-radius: 19px;
    z-index: 4;
}

.eye {
    position: absolute;
    background-color: var(--eyecolor);
    width: 5.5px;
    height: 5.5px;
    border-radius: 5px;
    left: 20px;
    top: 12px;
    z-index: 5;
}

.beak {
    position: absolute;
    background-color: var(--beackcolor);
    width: 23px;
    height: 13px;
    border-radius: 15px;
    top: 12px;
    left: -7.5px;  
    z-index: 5;  
}

.neck {
    position: absolute;
    background-color: var(--neckcolor);
    width: 20px;
    height: 20px;
    top: 25px;
    left: 22px;
    z-index: 3;
}

.body {
    position: relative;
    background-color: var(--bodycolor);
    width: 60px;
    height: 43px;
    border-radius: 27px;
    top: 8px;
    left: 10px;
    z-index: 4;
}


.chest {
    position: absolute;
    background-color: var(--chestcolor);
    width: 40px;
    height: 43px;
    border-radius: 27px 26px 26px  27px ;
    z-index: 4;
}

.tail {
    position: absolute;
    background-color: var(--chestcolor);
    width: 15px;
    height: 20px;
    left: 60px;
    top: 50px;
    border-radius: 0 15px 30px 0;
    transform: rotate(-20deg);
    z-index: 3;
}

.left-leg {
    position: absolute;
    background-color: var(--footBcolor);
    width: 9px;
    height: 25px;
    left: 32px;
    top: 65px;
    z-index: 3;
}

.left-foot {
    position: absolute;
    background-color: var(--footBcolor);
    width: 20px;
    height: 8px;
    left: -10px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.right-leg {
    position: absolute;
    background-color: var(--footFcolor);
    width: 9px;
    height: 25px;
    left: 43px;
    top: 65px;
    z-index: 3;
}

.right-foot {
    position: absolute;
    background-color: var(--footFcolor);
    width: 18px;
    height: 8px;
    left: -6px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.honk {
    position: absolute;
    left: 605px;
    top: 495px;
    font-size: 14px;
    font-weight: lighter;
    color: transparent;
    padding: 10px 20px;
    border-radius: 10px 10px 0px 10px;
    border-color: transparent;
    border-width: 1px;
    background-color: transparent;
    border-style:solid;
    transition: 0.5s ease-in-out;
}

.duck:hover ~ .honk {
    color: #00989b;
    border-color: #00989b;
    background-color: white;
    
    
}




/* DUCK 2 */
.duckcontainer2 {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.duck2 {
    background-color: transparent; 
    width: 80px;
    height: 100px;
    margin: auto auto 100px auto;
    position: relative;
    left: 350px;
    animation: 8s linear infinite walkie;
 }
 
 .duck-body2 {
     position: relative;
     z-index: 6;
 }
 
 @keyframes stepyL {
     5% {
       transform: translateY(-11px);
     }
     50% {
       transform: translateY(-11px);
     }
     55% {
       transform: translateY(0px);
     }
     0% {
        transform: translateY(0px);
     }
   }

   @keyframes stepyR {
    50% {
      transform: translateY(-11px);
    }
    100% {
      transform: translateY(-11px);
    }
    5% {
      transform: translateY(0px);
    }
    45% {
        transform: translateY(0px);
     }
  }

  @keyframes walkie {
    0.1% {
      transform: translateX(0px) scaleX(1);
      scaleX: 1;
    }
    50% {
        transform: translateX(-700px) scaleX(1);
      scaleX: 1;
    }
    50.1% {
        transform: translateX(-700px) scaleX(-1);
        scaleX: -1;
    }
    100% {
        transform: translateX(0px) scaleX(-1);
        scaleX: -1;
      }
  }

  @keyframes headmove {
    50% {
      transform: translateX(-1.5px);
    }
    100% {
      transform: translateX(-1.5px);
    }
    5% {
      transform: translateX(0px);
    }
    45% {
        transform: translateX(0px);
     }
  }
 
 .duck-head2 {
     background-color: var(--headcolor);
     position: relative;
     width: 40px;
     height: 33px;
     left: 12px;
     top: 9px;
     border-radius: 19px;
     z-index: 4;
     animation: 0.3s linear infinite headmove;
 }
 
 .eye2 {
     position: absolute;
     background-color: var(--eyecolor);
     width: 5.5px;
     height: 5.5px;
     border-radius: 5px;
     left: 20px;
     top: 12px;
     z-index: 5;
 }
 
 .beak2 {
     position: absolute;
     background-color: var(--beackcolor);
     width: 23px;
     height: 13px;
     border-radius: 15px;
     top: 12px;
     left: -7.5px;  
     z-index: 5;  
 }
 
 .neck2 {
     position: absolute;
     background-color: var(--neckcolor);
     width: 20px;
     height: 20px;
     top: 25px;
     left: 22px;
     z-index: 3;
 }
 
 .body2 {
     position: relative;
     background-color: var(--bodycolor);
     width: 60px;
     height: 43px;
     border-radius: 27px;
     top: 10px;
     left: 10px;
     z-index: 4;
 }
 
 
 .chest2 {
     position: absolute;
     background-color: var(--chestcolor);
     width: 40px;
     height: 43px;
     border-radius: 27px 26px 26px  27px ;
     z-index: 4;
 }
 
 .tail2 {
     position: absolute;
     background-color: var(--chestcolor);
     width: 15px;
     height: 20px;
     left: 60px;
     top: 50px;
     border-radius: 0 15px 30px 0;
     transform: rotate(-20deg);
     z-index: 3;
 }
 
 .left-leg2 {
     position: absolute;
     background-color: var(--footBcolor);
     width: 9px;
     height: 25px;
     left: 32px;
     top: 65px;
     z-index: 3;
     animation: 0.3s linear infinite stepyL;
 }
 
 .left-foot2 {
     position: absolute;
     background-color: var(--footBcolor);
     width: 20px;
     height: 8px;
     left: -10px;
     top: 21px;
     border-radius: 10px;
     z-index: 3;
 }
 
 .right-leg2 {
     position: absolute;
     background-color: var(--footFcolor);
     width: 9px;
     height: 25px;
     left: 43px;
     top: 65px;
     z-index: 3;
     animation: 0.3s linear infinite stepyR;
 }
 
 .right-foot2 {
     position: absolute;
     background-color: var(--footFcolor);
     width: 18px;
     height: 8px;
     left: -8px;
     top: 21px;
     border-radius: 10px;
     z-index: 3;
 }




 /* DUCK 3*/

.duck3 {
   background-color: transparent; 
   width: 80px;
   height: 100px;
   margin: -50px auto -57px 1000px;
   position: relative;

}

.duck-body3 {
    position: relative;
    z-index: 6;
    top: 6px
}

@keyframes breath {
    15% {
      transform: translateY(1.5px);
    }
    50% {
      transform: translateY(1.5px);
    }
    65% {
      transform: translateY(0px);
    }
  }

.duck-head3 {
    background-color: var(--headcolor);
    position: relative;
    width: 40px;
    height: 33px;
    left: 10px;
    top: 22px;
    border-radius: 19px;
    z-index: 7;
    animation: 5s linear infinite breath;   
}

.eye3 {
    position: absolute;
    background-color: var(--eyecolor);
    width: 5.5px;
    height: 2.2px;
    border-radius: 5px;
    left: 15px;
    top: 16px;
    z-index: 5;
}
/* .eyelid3 {
    position: absolute;
    background-color: #00989b;
    width: 5.5px;
    height: 5.5px;
    border-radius: 5px;
    left: 20px;
    top: 13.5   px;
    z-index: 5;
} */

.beak3 {
    position: absolute;
    background-color: var(--beackcolor);
    width: 23px;
    height: 13px;
    border-radius: 15px;
    top: 15px;
    left: 25px;  
    z-index: 5;  
}

.neck3 {
    position: absolute;
    background-color: var(--headcolor);
    width: 20px;
    height: 20px;
    top: 25px;
    left: 22px;
    z-index: 3;
}

.body3 {
    position: relative;
    background-color: var(--bodycolor);
    width: 60px;
    height: 43px;
    border-radius: 27px;
    top: 8px;
    left: 10px;
    z-index: 4;
    animation: 5s linear infinite breath;
}

.chest3 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 40px;
    height: 43px;
    border-radius: 27px 26px 26px  27px ;
    z-index: 4;
}

.tail3 {
    position: absolute;
    background-color: var(--chestcolor);
    width: 15px;
    height: 20px;
    left: 60px;
    top: 50px;
    border-radius: 0 15px 30px 0;
    transform: rotate(-20deg);
    z-index: 3;
    animation: 5s linear infinite breath;
}

.left-leg3 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 9px;
    height: 25px;
    left: 32px;
    top: 65px;
    z-index: 3;
}

.left-foot3 {
    position: absolute;
    background-color: var(--footBcolor);
    width: 20px;
    height: 8px;
    left: -10px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.right-leg3 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 9px;
    height: 25px;
    left: 43px;
    top: 65px;
    z-index: 3;
}

.right-foot3 {
    position: absolute;
    background-color: var(--footFcolor);
    width: 18px;
    height: 8px;
    left: -6px;
    top: 21px;
    border-radius: 10px;
    z-index: 3;
}

.zzz {
    position: absolute;
    left: 940px;
    top: 130px;
    font-size: 14px;
    font-weight: lighter;
    color: transparent;
    border-radius: 5px 5px 0px 5px;
    padding: 6px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: 0.5s ease-in-out;
}

.duck3:hover ~ .zzz {
    color: #8876bf;  
    border-color: #8876bf;  
}






/* PROJECTS */

.project_game {
    display: flex;
    flex-direction: row;
    margin: 50px 100PX 50px 100px;
    align-items: center;
    justify-content: center;
}

.project_group01 {  
    margin: 50px 200px;
}

.project_group02 {
    margin: 40px;
}

.YT {
    width: 75%;
    opacity: 100;
}


.YTphone {
    opacity: 0;
    width: 0px;
    height: 0px;
}





/* OTHER ARTISTS  */
.artist-icon {
    width: 120px;
    text-align: center;
    border-radius: 80px;
    /* outline-style: solid;
    outline-color: #00989b;
    outline-width: 0.5px;
    outline-offset: 8px; */
}

.artist_name {
    width: 130px;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    color: teal;
    margin-top: 15px;
    font-weight: lighter;
}

.artist-type {
    width: 130px;
    text-align: center;
    font-size: 16px;
    color: #66c4b2;
    margin-top: 10px;
    font-style: italic;
    font-weight: lighter;
}

.artist_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    transition: 0.15s ease-in-out;
}

.artist_group:hover {
    background-color: #ececec;
}

.people {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 800px;
    margin: 65px auto 0 auto;
}

.one-line {
    margin: 18px auto;
}





/* IMGS  */
.imgs {
    /* Prevent vertical gaps */

    -webkit-column-count: 3;
    -webkit-gap: 10px;
    -moz-column-count: 3;
    -moz-gap: 10px;
    column-count: 3;
    gap: 10px;
    max-width: 1000px;
    margin: 50px auto auto auto;
}

.imgs .img {
    border-radius: 10px;

    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1 ;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

/* IMGS PAGS */

.imgsC {
    /* Prevent vertical gaps */

    -webkit-column-count: 1;
    -webkit-gap: 10px;
    -moz-column-count: 1;
    -moz-gap: 10px;
    column-count: 1;
    gap: 10px;
    max-width: 1000px;
    margin: 30px auto auto auto;

}

.imgsC .imgC {
    border-radius: 0px;

    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}




/* FOOTER */
.footer {
    color: #8dc5c6;
    font-size: 10px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    font-weight: lighter;
}

#profile-link {
    color: #00989b;
}















/* PHONE MEDIA */

@media only screen and (max-width: 600px) {


   /* HEAD */
    .head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        position: relative;
        top: -70px;
        margin-bottom: -20px;
    }
    /* .avatar-icon {
        width: 100px;
    } */

    .name-icon {
        width: 270px;
    }

    
    #navbar {
        left: 50px;
        top: 80px;
    }
    .dropdown {
        position: relative;
        top: 250.5px;
        left: -30px;
    }


    .contact_link {
        position: relative;
        top: 272px;
        left: -53px;
    }

    .etsy   {
        position: relative;
        top: -55px; 
        left: 30px;       
    }

    .etsy-icon {
        width: 70px;
    }

    .social-icons {
        position: relative;
        top: -65px;
        left: 50px;
    }


    /* .duck3 {
        position: absolute;
        left: -950px;
     }

     .zzz {
        width: 30px;
        left: 100px;
        top: -35px;
     } */

  
/* ABOUT ME */
.CVABOUT {
    flex-direction: column;
}

.cv_pc {
    width: 90%;
    margin: auto;
}

.aboutme {
    border-color: transparent;
}
/*
    .aboutme {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .profilepic {
        width: 150px;
    }
    .bio {
        width: 270px;
    } */

    .honk {
        color: transparent;
     }

    
/* CONTACT ME */
    .theother {
        background-color: transparent;
        max-width: 300px;
    }
    
    .you_can {
        font-size: 18px;
        color: rgb(130, 218, 197);
    }
    .my_email {
        font-size: 25px;
        margin-left: 0;
    }

    
    #copyicon {
        width: 20px;
        opacity: 50%;
        filter: invert(0);   
    }
    #copyicon:hover {
        opacity: 80%;
    }


/* PROJECTS */
    #projects {
        position: relative;
        top: -80px;
    }
    .imgs {
        -webkit-column-count: 1;
        -webkit-gap: 10px;
        -moz-column-count: 1;
        -moz-gap: 10px;
        column-count: 1;
        gap: 10px;
        max-width: 1000px;
        margin: 50px auto auto auto;
    }

    /* CV */

    /* .CVBOXES {
        width: 0;
        height: 0;
        position: absolute;
        color: transparent;
        background-color: transparent;
        display: none;
    }

    .phonesubstitute {
        margin: auto;
        width: 350px;
        height: auto;
        margin-top: 20px;
    } */

    .duck4 {
        left: 280px;
        top: 150px
    }

    .honk4 {
        padding: 7px;
        font-size: 10px;
        top: 120px;
        left: 300px;
        border-radius: 10px 10px 10px 0px;;
    }


    /* PROJECTS */

.project_group01 {  
    margin:  20px 10%;
    
}

.project_group03 {
    margin:  20px 10%;
    text-align: center;
}

.project_group04 {
    text-align: justify;
}

.YT {

    opacity: 0;
    width: 0px;
    height: 0px;
}

.YTphone {

opacity: 100;
width: 80%;
height: 80%;
}




    


/* FOOTER */

    .footer {
        position: relative;
        top: 50px;
    }  
}





